@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: brown;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}
input {
  background-color: black;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #fff #000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}